<html>
    <head>
        <title>{{ title }} - All Online Orders</title>
    </head>
    <body>
        <h1>All Online Orders</h1>
        {% for order in all_orders %}
            <ul>
                <li>
                    {{ order.customer_name }} bought: 
                    <a href="/orders/{{ all_orders.index(order)}}"><b>{{ order.boardgame_name }}</b></a>. 
                    This game is for {{ order.num_of_players }} players. 
                    {{ order.description }}
                </li>
            </ul>
        {% endfor %}
    </body>
</html>